.primary-btn-default-icon {
    border: 1px solid #2a3647;
    border-radius: 10px;
    padding: 12px;
    background-color: #2a3647;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.primary-btn-hovered-icon {
    border: 1px solid #29abe2;
    border-radius: 10px;
    padding: 12px;
    background-color: #29abe2;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.primary-btn-clicked-icon {
    border: 1px solid #091931;
    border-radius: 10px;
    padding: 12px;
    background-color: #091931;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.secondary-btn-default-icon {
    border: 1px solid #2a3647;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    color: #2a3647;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

.secondary-btn-hovered-icon {
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 18px;
    background-color: #ffffff;
    border: 2px solid #29abe2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #29abe2;
    cursor: pointer;
}

.secondary-btn-clicked-icon {
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 18px;
    background-color: #ffffff;
    border: 1px solid #091931;
    box-shadow: 0 4px 4px 0 #00000040;
    color: #091931;
    cursor: pointer;
}

.secondary-btn-default {
    border: 1px solid rgba(42, 54, 71, 1);
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px 24px;
    display: block;
    text-align: center;
    color: rgba(42, 54, 71, 1);
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.secondary-btn-hovered {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px 24px;
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    border: 2px solid rgba(41, 171, 226, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: rgba(41, 171, 226, 1);
    cursor: pointer;
}

.secondary-btn-clicked {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px 24px;
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid rgba(9, 25, 49, 1);
    box-shadow: 0 4px 4px 0 #00000040;
    color: rgba(9, 25, 49, 1);
    cursor: pointer;
}

.edit-delete-component-default {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    color: rgba(42, 54, 71, 1);
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.edit-delete-component-hovered {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 16px;
    color: rgba(41, 171, 226, 1);
    cursor: pointer;
}