body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.body-div{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1440px;
}

main{
    display: flex;
    flex: 1;
    width: 100%;

}


.privacy-policy-div{
width: 200px;
height: 200px;
}